body {
    background: rgb(94,86,230);
    background-size: auto;
    background-repeat: no-repeat;
    color: rgb(48, 45, 94); 
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif; 
}

h1 {
    color: rgb(48, 45, 94); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px;; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

#content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    margin: 0 auto;
    padding: 10px 20px;
    width: 400px;
    text-align: center;
}

br {
    line-height: 350%;
}


/* CSS */
.submit-btn {
    appearance: button;
    background-color: #1b12b0;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
    backface-visibility: hidden;
    color: #fff;
    line-height: 1.15;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 5px 10px;
}